.card {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    transition: .2s ease-in-out;
}

.card:hover {

    margin-top: -1.3rem;
}