.cart-empty {

    width: 100%;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    /* background-color: rebeccapurple; */
    margin-top: 1rem;
}

.image-cart img {
    width: 250px;
}

.shop-now-cart{
    padding: 7px 20px;
}