.act {
    color: black;
    border-bottom: 1px solid black;
    font-weight: 800;
}

.blue {
    color: white;
}

.nav-item {
    font-size: 1.1rem;
}

.fa-bag-shopping {
    font-size: 2rem;
    margin-right: 10px;
}


.upper-cart-count {
    position: relative;
    top: -20px;
    left: -10px;
    background-color: white;
    color: black;
}



/* this is for fropdown menu in nav */


.dropbtn {
    background-color: transparent;
    /* color: white; */
    /* padding: 16px; */
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */






@media screen and (max-width: 992px) {
    .login-cart-icon-wrapper {
        justify-content: space-between;
        margin-top: 1rem;
        padding: .6px 1rem;
    }
}

.navbar {
    /* background: linear-gradient(to right, #ff66ff 0%, #6699ff 100%); */
    /* background: linear-gradient(to right, #6666ff 0%, #0000ff 100%); */
    /* background: linear-gradient(to right, #6699ff 1%, #3333cc 100%); */
    /* background: linear-gradient(to right, #009999 50%, #9966ff 100%); */
    background: linear-gradient(to right, #6600ff 30%, #9966ff 100%);
}