.cart-container {
    height: 100vh;
    width: 100%;
    /* overflow-y: scroll; */
    background-image: url("https://img.freepik.com/free-vector/abstract-memphis-purple-background-pastel-color-design-vector_53876-151387.jpg?w=2000");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.heading-cart {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* background-color: rgba(128, 128, 128, 0.104); */
    margin-bottom: 1rem;
    /* background-color: rebeccapurple; */
}

.heading-cart>div {
    font-weight: bold;
    text-align: center;
    padding: .6rem;
    font-size: 20px;

}

.product {
    width: 60%;

}

.price {
    width: 13%;

}

.quantity {
    width: 13%;

}

.subtotal {
    width: 14%;

}

.cart-book-item {
    /* background-color: red; */
    height: 5rem;
    align-items: center;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    margin-bottom: 1rem;
    
    border-bottom: 0.5px dashed grey;

}


/* items in cart  */
.image-name-book {
    width: 60%;
    /* background-color: royalblue; */
}

.price-book {
    width: 13%;
    color: green;
    font-weight: bold;
}

.quantity-book {
    width: 13%;
}

.subtotal-book {
    width: 13%;
}

.book-image {
    width: 20%;

}

.book-image img {
    width: 45%;

}

.book-name {
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 1.2rem;
    font-weight: bold;
}




@media screen and (max-width: 992px) {
    .product {
        width: 40%;

    }

    .heading-cart>div {
        font-size: .7rem;
    }

    .price {
        width: 20%;

    }

    .quantity {
        width: 20%;

    }

    .subtotal {
        width: 20%;

    }

    .image-name-book {
        width: 40%;

    }

    .price-book {
        width: 20%;
        font-size: 12px;
    }

    .quantity-book {
        width: 20%;
        font-size: 12px;

        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .subtotal-book {
        width: 20%;
        font-size: 12px;
    }

    .book-name {
        font-size: .7rem;

    }
}